.registration-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.registration-form {
  width: 30%;
  height: 80%;
  margin-top: 0;
  margin-right: 90px;
}
.trainee-image {
  margin-bottom: 0;
  width: 60%;
  overflow: hidden;
  margin-left: 95px;
}

.trainee-image img {
  width: 65%;
  height: auto;
  object-fit: cover;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.input-group {
  position: relative;
}

.input-group-addon {
  cursor: pointer;
  z-index: 200;
  position: absolute;
  font-size: large;
  color: #6c757d;
  left: 480px;
  top: 7px;
}
