<div class="container">
  <div *ngIf="!formConfirmed">
    <div style="margin-left: 190px">
      <h1 class="mb-3"><b>Security</b></h1>
    </div>
    <div class="container">
      <div class="mb-2" style="margin-top: 40px; margin-left: 170px">
        <i class="bi bi-shield-lock-fill" style="margin-left: 5px; margin-right: 7px;"></i>
        <b class="card-link" style="font-size:20px; align-items: flex-start; ">Change Password</b>
      </div>
      <div class="registration-form" style="width: 40%; margin-left: 500px; margin-top: -40px">
        <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
          <div class="form-group">
            <label for="currentPassword"
                   [class.label-text-color]="changePasswordForm.get('currentPassword')?.invalid && changePasswordForm.get('currentPassword')?.touched"><b>Current
              password</b></label>
            <div class="input-group">
              <input type="password"
                     class="form-control"
                     style="background-color: #F0F0F0"
                     id="currentPassword"
                     formControlName="currentPassword"
                     placeholder="Enter current password"
                     [ngClass]="{'invalid-input': changePasswordForm.get('currentPassword')?.invalid && changePasswordForm.get('currentPassword')?.touched, 'invalid-placeholder': changePasswordForm.get('currentPassword')?.invalid && changePasswordForm.get('currentPassword')?.touched}"
                     [class.invalid-input]="changePasswordForm.get('currentPassword')?.invalid && changePasswordForm.get('currentPassword')?.touched">
              <div class="input-group-addon">
                <i style="margin-left: 5px"
                   [class]="currentPasswordVisible ? 'bi bi-eye-fill' : 'bi bi-eye-slash-fill'"
                   (click)="togglePassword('currentPassword')">
                </i>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="newPassword"
                   [class.label-text-color]="changePasswordForm.get('newPassword')?.invalid && changePasswordForm.get('newPassword')?.touched"><b>New
              password</b></label>
            <div class="input-group">
              <input type="password"
                     class="form-control"
                     style="background-color: #F0F0F0"
                     id="newPassword"
                     formControlName="newPassword"
                     placeholder="Enter new password"
                     [ngClass]="{'invalid-input': changePasswordForm.get('newPassword')?.invalid && changePasswordForm.get('newPassword')?.touched, 'invalid-placeholder': changePasswordForm.get('newPassword')?.invalid && changePasswordForm.get('newPassword')?.touched}"
                     [class.invalid-input]="changePasswordForm.get('newPassword')?.invalid && changePasswordForm.get('newPassword')?.touched">
              <div class="input-group-addon">
                <i style="margin-left: 5px"
                   [class]="newPasswordVisible ? 'bi bi-eye-fill' : 'bi bi-eye-slash-fill'"
                   (click)="togglePassword('newPassword')">
                </i>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="confirmedNewPassword"
                   [class.label-text-color]="changePasswordForm.get('confirmedNewPassword')?.invalid && changePasswordForm.get('confirmedNewPassword')?.touched"><b>Confirm
              New password</b></label>
            <div class="input-group">
              <input type="password"
                     class="form-control"
                     style="background-color: #F0F0F0"
                     id="confirmedNewPassword"
                     formControlName="confirmedNewPassword"
                     placeholder="Confirm new password"
                     [ngClass]="{'invalid-input': changePasswordForm.get('confirmedNewPassword')?.invalid && changePasswordForm.get('confirmedNewPassword')?.touched, 'invalid-placeholder': changePasswordForm.get('confirmedNewPassword')?.invalid && changePasswordForm.get('confirmedNewPassword')?.touched}"
                     [class.invalid-input]="changePasswordForm.get('confirmedNewPassword')?.invalid && changePasswordForm.get('confirmedNewPassword')?.touched">
              <div class="input-group-addon">
                <i style="margin-left: 5px"
                   [class]="confirmedNewPasswordVisible ? 'bi bi-eye-fill' : 'bi bi-eye-slash-fill'"
                   (click)="togglePassword('confirmedNewPassword')">
                </i>
              </div>
            </div>
          </div>
          <div style="text-align: right">
            <button type="button" style="background-color: white; color: 		#A8A8A8">Cancel</button>
            <button type="submit"
                    [disabled]="changePasswordForm.invalid"
                    style="background-color:#6355D8; color: white"
            >Change Password
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div *ngIf="formConfirmed">
    <div style="text-align: center">
      <h1><b>Password changed</b></h1><br>
      <i style="font-size: 100px; color: #36B584" class="bi bi-check-circle-fill"></i><br>
      <p>Please proceed sign in with new password</p><br>
      <app-button routerLink="/login" text="Sign In"></app-button>
    </div>
  </div>
</div>




