.alert-custom {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  position: fixed;
  right: 20px;
  bottom: 550px;
}

.alert-check-icon {
  margin-right: 20px;
}

.close {
  color: #ffffff;
  opacity: 1;
}
