<div class="container">
  <h2><b>My students</b></h2>
  <ng-container *ngIf="trainees && trainees.length > 0; else emptyList">
    <table class="table" style="max-width: 800px">
      <thead class="table-header">
      <tr>
        <th scope="col">NAME</th>
        <th scope="col">Status</th>
      </tr>
      </thead>
      <tbody>
      <tr class="table-row" *ngFor="let trainee of trainees">
        <td style="font-weight: bold; margin-top: 5px; margin-bottom: 5px">{{ trainee.traineeName }}</td>
        <td *ngIf="trainee.status===true" style="margin-top: 5px; margin-bottom: 5px; color: #60CFA5">ACTIVE</td>
        <td *ngIf="trainee.status===false" style="margin-top: 5px; margin-bottom: 5px; color: red">NOT ACTIVE</td>
      </tr>
      </tbody>
    </table>
  </ng-container>
  <ng-template #emptyList>
    <p>The training list is empty.</p>
  </ng-template>
</div>
