<div class="container mt-5">

    <div class="row no-gutters">
      <div class="col-md-7">
        <div class="card-body">
          <h1 class="card-title"><b>Register as {{role}}</b></h1>
          <p class="card-text">Do consectetur proident proident et eiusmod <br>deserunt consequat pariatur ad ex velit do Lorem<br> reprehenderit.</p>
        <!--  <a href="#" class="btn btn-primary" style="background-color: #6355D8FF">Join us</a>-->
          <app-button text="Join us"></app-button>
        </div>
      </div>
      <div class="col-md-4">
        <img [src]="pngPath" class="card-img" alt="...">
      </div>
    </div>
  </div>

