.card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-img {
  height: 100%;
  object-fit: cover;
  margin-right: 200px;
}

.card-body {
  padding: 25px;
  margin-right: 0px;
}

.btn-primary {
  background-color: #0056b3;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}
