.registration-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.registration-form {
  width: 40%;
  height: 60%;
  margin-top: 0;
  margin-right: 120px;
}
.trainer-image {
  margin-bottom: 0;
  width: 50%;
  overflow: hidden;
  margin-left: 95px;
}
.trainer-image img {
  width: 60%;
  height: auto;
  object-fit: cover;
}

.invalid-input {
  border-color: red;
}

.label-text-color {
  color: #ff0000;
}

.invalid-placeholder::placeholder {
  color: red;
}
