<footer>
<div class="footer-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-3">
        <img src="../../../../assets/pictures/logo.png" alt="Learn Logo" class="footer-logo">
      </div>
      <div class="col-md-2">
        <h6>Product</h6>
        <ul>
          <li><a href="#">Features</a></li>
          <li><a href="#">Pricing</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h6>Resources</h6>
        <ul>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Webinars</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h6>Company</h6>
        <ul>
          <li><a href="#">About us</a></li>
          <li><a href="#">Contacts us</a></li>
        </ul>
      </div>
      <div class="col-md-3 newsletter">
        <h5 style="color: #6355D8FF">Subscribe to our newsletter</h5>
        <p>For product announcements and exclusive insights</p>
        <form action="#" method="post">
          <div class="input-group">
            <input type="email" style="border: 1px solid" placeholder="Input your email">
            <button style="width: 100px;
            height: 36px; text-align: center;
            background: #6355D8FF;
             align-items: center;
             display: flex;
            justify-content: center;">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
    <div class="footer-container">
      <select class="custom-select" style="width: 16%; background-color: #F8F8F8">
        <option>English</option>
        <option>Українська</option>
      </select>
      <span>© 2023 Learn, Inc. · <a href="#" style="color: black">Privacy</a> · <a href="#" style="color: black">Terms</a></span>
      <div class="social-icons" >
        <a href="#" style="color:#6355D8FF;"><i class="bi bi-twitter"></i></a>
        <a href="#" style="color:#6355D8FF;"><i class="bi bi-facebook"></i></a>
        <a href="#" style="color:#6355D8FF;"><i class="bi bi-youtube"></i></a>
      </div>
    </div>
  </div>
</div>
</footer>
