.dark-theme {
  background-color: #121212;
  color: #ffffff;
}
.bs-datepicker-body table td.week span
{
  color: #6f42c1 !important;
}

.theme-green .bs-datepicker-head {
  background-color: #6f42c1 !important;
}
