<app-header></app-header>
<div style="text-align: center; margin-top: -70px; margin-bottom: 122px">
  <h1 style="margin-top: 150px; margin-bottom: 40px"><b>Let's start learning</b></h1>
  <p class="welcome-text">
    Welcome to Learn Platform - where every day ia a day to learn. Dive into the
  vast ocean of knowledge and empower yourself with the tools for a
  success tomorrow. Happy learning!</p>
  <img class="join-us-img" src="../../../assets/pictures/join-us-background.png" alt="join-us-background.png">
  <div style="margin-top: -200px">
    <h2 style="color: #6f42c1"><b>Join us</b></h2>
    <p class="join-us-text">
      <small>Qui ut exercitation officia proident enim non tempor
      tempor ipsum ex nulla ea adipisicing sit consequat enim
      elit cupidatat o
      </small>
    </p>
    <app-button text="Join us" color="#6f42c1" width="95px" routerLink="/join"></app-button>
  </div>
</div>

<app-footer></app-footer>
